<div class="accordions-container row bg-grey">
  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-body>
      <div class="text-center text-uppercase" >
      <h3>Información De los Candidatos</h3>
    </div>
    </nb-card-body>
    <nb-card>
      <nb-card-header>
        <div class="p-3 mb-2 bg-info text-white fold-weight-bold">
          Partido Liberal
        </div>
      </nb-card-header>
    </nb-card>

    <nb-accordion>
      <nb-accordion-item #item>
        <nb-accordion-item-header>
          Candidato
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Nombre: Felipe Torres
          <br>
          No. Resolución: CS2587456321
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Acerca del Partido
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          El Partido Liberal Colombiano (PLC) es el partido político más antiguo de
          Colombia, y el sexto partido político vigente más longevo del mundo.
          Fue fundado el 16 de julio de 1848 por José Ezequiel Rojas en el manifiesto
          de prensa «La razón de mi Voto», apoyando al candidato presidencial
          José Hilario López, primer presidente liberal del país, recordado por
          haber sido el artífice de la abolición de la esclavitud en suelo colombiano.
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Propuestas
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Igualdad de género: sobre este punto Torres dice que la mayor participación de
          las mujeres en posiciones de liderazgo en la política acelera el cambio social.
          Pero va más allá y contempla políticas de salud sexual y reproductiva como ítems
          fundamentales para la consolidación de los derechos de las mujeres. Por otro
          lado, insiste en que las mujeres que más apoyo y protección necesitan son las
          “empleadas domésticas, las madres solteras en condiciones de vulnerabilidad
          y quienes son víctimas de abuso por parte de sus esposos o familiares”.
          Y termina advirtiendo sobre la necesidad de generar políticas de empleo para
          las mujeres que fueron las más afectadas en esta materia por la pandemia.
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>

  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-body>
      <div class="text-center text-uppercase" >
      
    </div>
    </nb-card-body>
    <nb-card>
      <nb-card-header>
        <div class="p-3 mb-2 bg-info text-white fold-weight-bold">
          Partido de la U
        </div>
      </nb-card-header>
    </nb-card>

    <nb-accordion>
      <nb-accordion-item #item>
        <nb-accordion-item-header>
          Candidato
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Nombre: Alexander Martinez Lopez
          <br>
          No. Resolución: CS2587456356
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Acerca del Partido
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          El Partido de la U es el partido político de
          Colombia, y el sexto partido político vigente más longevo del mundo.
          Fue fundado el 16 de julio de 1848 por José Ezequiel Rojas en el manifiesto
          de prensa «La razón de mi Voto», apoyando al candidato presidencial
          José Hilario López, primer presidente liberal del país, recordado por
          haber sido el artífice de la abolición de la esclavitud en suelo colombiano.
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Propuestas
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Igualdad de género: sobre este punto Martinez Lopez dice que la mayor participación de
          las mujeres en posiciones de liderazgo en la política acelera el cambio social.
          Pero va más allá y contempla políticas de salud sexual y reproductiva como ítems
          fundamentales para la consolidación de los derechos de las mujeres. Por otro
          lado, insiste en que las mujeres que más apoyo y protección necesitan son las
          “empleadas domésticas, las madres solteras en condiciones de vulnerabilidad
          y quienes son víctimas de abuso por parte de sus esposos o familiares”.
          Y termina advirtiendo sobre la necesidad de generar políticas de empleo para
          las mujeres que fueron las más afectadas en esta materia por la pandemia.
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>

  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-body>
      <div class="text-center text-uppercase" >
      
    </div>
    </nb-card-body>
    <nb-card>
      <nb-card-header>
        <div class="p-3 mb-2 bg-info text-white fold-weight-bold">
          Partido Cambio Radical
        </div>
      </nb-card-header>
    </nb-card>

    <nb-accordion>
      <nb-accordion-item #item>
        <nb-accordion-item-header>
          Candidato
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Nombre: Isabel Cristina Garay Cruz
          <br>
          No. Resolución: CS2558965824
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Acerca del Partido
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          es el partido político más antiguo de
          Colombia, y el sexto partido político vigente más longevo del mundo.
          Fue fundado el 16 de julio de 1848 por José Ezequiel Rojas en el manifiesto
          de prensa «La razón de mi Voto», apoyando al candidato presidencial
          José Hilario López, primer presidente liberal del país, recordado por
          haber sido el artífice de la abolición de la esclavitud en suelo colombiano.
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Propuestas
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Igualdad de género: sobre este punto Garay Cruz dice que la mayor participación de
          las mujeres en posiciones de liderazgo en la política acelera el cambio social.
          Pero va más allá y contempla políticas de salud sexual y reproductiva como ítems
          fundamentales para la consolidación de los derechos de las mujeres. Por otro
          lado, insiste en que las mujeres que más apoyo y protección necesitan son las
          “empleadas domésticas, las madres solteras en condiciones de vulnerabilidad
          y quienes son víctimas de abuso por parte de sus esposos o familiares”.
          Y termina advirtiendo sobre la necesidad de generar políticas de empleo para
          las mujeres que fueron las más afectadas en esta materia por la pandemia.
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>

  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-body>
      <div class="text-center text-uppercase" >
      
    </div>
    </nb-card-body>
    <nb-card>
      <nb-card-header>
        <div class="p-3 mb-2 bg-info text-white fold-weight-bold">
          Partido Político Mira
        </div>
      </nb-card-header>
    </nb-card>

    <nb-accordion>
      <nb-accordion-item #item>
        <nb-accordion-item-header>
          Candidato
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Nombre: Jessica Liseth Cifuentes Martinez
          <br>
          No. Resolución: CS2587896358
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Acerca del Partido
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Es el partido político más antiguo de
          Colombia, y el sexto partido político vigente más longevo del mundo.
          Fue fundado el 16 de julio de 1848 por José Ezequiel Rojas en el manifiesto
          de prensa «La razón de mi Voto», apoyando al candidato presidencial
          José Hilario López, primer presidente liberal del país, recordado por
          haber sido el artífice de la abolición de la esclavitud en suelo colombiano.
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Propuestas
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Igualdad de género: sobre este punto Cifuentes Martinez dice que la mayor participación de
          las mujeres en posiciones de liderazgo en la política acelera el cambio social.
          Pero va más allá y contempla políticas de salud sexual y reproductiva como ítems
          fundamentales para la consolidación de los derechos de las mujeres. Por otro
          lado, insiste en que las mujeres que más apoyo y protección necesitan son las
          “empleadas domésticas, las madres solteras en condiciones de vulnerabilidad
          y quienes son víctimas de abuso por parte de sus esposos o familiares”.
          Y termina advirtiendo sobre la necesidad de generar políticas de empleo para
          las mujeres que fueron las más afectadas en esta materia por la pandemia.
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>

  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-body>
      <div class="text-center text-uppercase" >
      
    </div>
    </nb-card-body>
    <nb-card>
      <nb-card-header>
        <div class="p-3 mb-2 bg-info text-white fold-weight-bold">
          Partido Alianza Verde
        </div>
      </nb-card-header>
    </nb-card>

    <nb-accordion>
      <nb-accordion-item #item>
        <nb-accordion-item-header>
          Candidato
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Nombre: Karina Johanna Buitrago Restrepo
          <br>
          No. Resolución: CS2587922846
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Acerca del Partido
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Es el partido político más antiguo de
          Colombia, y el sexto partido político vigente más longevo del mundo.
          Fue fundado el 16 de julio de 1848 por José Ezequiel Rojas en el manifiesto
          de prensa «La razón de mi Voto», apoyando al candidato presidencial
          José Hilario López, primer presidente liberal del país, recordado por
          haber sido el artífice de la abolición de la esclavitud en suelo colombiano.
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Propuestas
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Igualdad de género: sobre este punto Buitrago Restrepo dice que la mayor participación de
          las mujeres en posiciones de liderazgo en la política acelera el cambio social.
          Pero va más allá y contempla políticas de salud sexual y reproductiva como ítems
          fundamentales para la consolidación de los derechos de las mujeres. Por otro
          lado, insiste en que las mujeres que más apoyo y protección necesitan son las
          “empleadas domésticas, las madres solteras en condiciones de vulnerabilidad
          y quienes son víctimas de abuso por parte de sus esposos o familiares”.
          Y termina advirtiendo sobre la necesidad de generar políticas de empleo para
          las mujeres que fueron las más afectadas en esta materia por la pandemia.
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>

  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-body>
      <div class="text-center text-uppercase" >
      
    </div>
    </nb-card-body>
    <nb-card>
      <nb-card-header>
        <div class="p-3 mb-2 bg-info text-white fold-weight-bold">
          Partido Polo Democrático Alternativo
        </div>
      </nb-card-header>
    </nb-card>

    <nb-accordion>
      <nb-accordion-item #item>
        <nb-accordion-item-header>
          Candidato
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Nombre: Hugo Fernando Nuñez Delgado
          <br>
          No. Resolución: CS2587456327
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Acerca del Partido
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Es el partido político más antiguo de
          Colombia, y el sexto partido político vigente más longevo del mundo.
          Fue fundado el 16 de julio de 1848 por José Ezequiel Rojas en el manifiesto
          de prensa «La razón de mi Voto», apoyando al candidato presidencial
          José Hilario López, primer presidente liberal del país, recordado por
          haber sido el artífice de la abolición de la esclavitud en suelo colombiano.
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Propuestas
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Igualdad de género: sobre este punto Nuñez Delgado dice que la mayor participación de
          las mujeres en posiciones de liderazgo en la política acelera el cambio social.
          Pero va más allá y contempla políticas de salud sexual y reproductiva como ítems
          fundamentales para la consolidación de los derechos de las mujeres. Por otro
          lado, insiste en que las mujeres que más apoyo y protección necesitan son las
          “empleadas domésticas, las madres solteras en condiciones de vulnerabilidad
          y quienes son víctimas de abuso por parte de sus esposos o familiares”.
          Y termina advirtiendo sobre la necesidad de generar políticas de empleo para
          las mujeres que fueron las más afectadas en esta materia por la pandemia.
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>

  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-body>
      <div class="text-center text-uppercase" >
      
    </div>
    </nb-card-body>
    <nb-card>
      <nb-card-header>
        <div class="p-3 mb-2 bg-info text-white fold-weight-bold">
          Colombia Humana
        </div>
      </nb-card-header>
    </nb-card>

    <nb-accordion>
      <nb-accordion-item #item>
        <nb-accordion-item-header>
          Candidato
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Nombre: Maisa Perea Zapata
          <br>
          No. Resolución: CS2585843255
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Acerca del Partido
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Es el partido político más antiguo de
          Colombia, y el sexto partido político vigente más longevo del mundo.
          Fue fundado el 16 de julio de 1848 por José Ezequiel Rojas en el manifiesto
          de prensa «La razón de mi Voto», apoyando al candidato presidencial
          José Hilario López, primer presidente liberal del país, recordado por
          haber sido el artífice de la abolición de la esclavitud en suelo colombiano.
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Propuestas
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Igualdad de género: sobre este punto Perea Zapata dice que la mayor participación de
          las mujeres en posiciones de liderazgo en la política acelera el cambio social.
          Pero va más allá y contempla políticas de salud sexual y reproductiva como ítems
          fundamentales para la consolidación de los derechos de las mujeres. Por otro
          lado, insiste en que las mujeres que más apoyo y protección necesitan son las
          “empleadas domésticas, las madres solteras en condiciones de vulnerabilidad
          y quienes son víctimas de abuso por parte de sus esposos o familiares”.
          Y termina advirtiendo sobre la necesidad de generar políticas de empleo para
          las mujeres que fueron las más afectadas en esta materia por la pandemia.
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>

  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-body>
      <div class="text-center text-uppercase" >
      
    </div>
    </nb-card-body>
    <nb-card>
      <nb-card-header>
        <div class="p-3 mb-2 bg-info text-white fold-weight-bold">
          Centro Democrático
        </div>
      </nb-card-header>
    </nb-card>

    <nb-accordion>
      <nb-accordion-item #item>
        <nb-accordion-item-header>
          Candidato
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Nombre: Adriana Dominguez Pastuzan
          <br>
          No. Resolución: CS2588525818
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Acerca del Partido
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Es el partido político más antiguo de
          Colombia, y el sexto partido político vigente más longevo del mundo.
          Fue fundado el 16 de julio de 1848 por José Ezequiel Rojas en el manifiesto
          de prensa «La razón de mi Voto», apoyando al candidato presidencial
          José Hilario López, primer presidente liberal del país, recordado por
          haber sido el artífice de la abolición de la esclavitud en suelo colombiano.
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Propuestas
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Igualdad de género: sobre este punto Dominguez Pastuzan dice que la mayor participación de
          las mujeres en posiciones de liderazgo en la política acelera el cambio social.
          Pero va más allá y contempla políticas de salud sexual y reproductiva como ítems
          fundamentales para la consolidación de los derechos de las mujeres. Por otro
          lado, insiste en que las mujeres que más apoyo y protección necesitan son las
          “empleadas domésticas, las madres solteras en condiciones de vulnerabilidad
          y quienes son víctimas de abuso por parte de sus esposos o familiares”.
          Y termina advirtiendo sobre la necesidad de generar políticas de empleo para
          las mujeres que fueron las más afectadas en esta materia por la pandemia.
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>

  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-body>
      <div class="text-center text-uppercase" >
      
    </div>
    </nb-card-body>
    <nb-card>
      <nb-card-header>
        <div class="p-3 mb-2 bg-info text-white fold-weight-bold">
          Liga de Gobernantes Anticorrupción
        </div>
      </nb-card-header>
    </nb-card>

    <nb-accordion>
      <nb-accordion-item #item>
        <nb-accordion-item-header>
          Candidato
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Nombre: Luz Angelica Tellez Gonzalez
          <br>
          No. Resolución: CS2587455883
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Acerca del Partido
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Es el partido político más antiguo de
          Colombia, y el sexto partido político vigente más longevo del mundo.
          Fue fundado el 16 de julio de 1848 por José Ezequiel Rojas en el manifiesto
          de prensa «La razón de mi Voto», apoyando al candidato presidencial
          José Hilario López, primer presidente liberal del país, recordado por
          haber sido el artífice de la abolición de la esclavitud en suelo colombiano.
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Propuestas
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Igualdad de género: sobre este punto Tellez Gonzalez dice que la mayor participación de
          las mujeres en posiciones de liderazgo en la política acelera el cambio social.
          Pero va más allá y contempla políticas de salud sexual y reproductiva como ítems
          fundamentales para la consolidación de los derechos de las mujeres. Por otro
          lado, insiste en que las mujeres que más apoyo y protección necesitan son las
          “empleadas domésticas, las madres solteras en condiciones de vulnerabilidad
          y quienes son víctimas de abuso por parte de sus esposos o familiares”.
          Y termina advirtiendo sobre la necesidad de generar políticas de empleo para
          las mujeres que fueron las más afectadas en esta materia por la pandemia.
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>

</div>  