<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="inicio.component.scss"> 
    <title>Registraduria Nacional del Estado Civil</title>
</head>

<body>

    <div class="head">

        <div class="logo">
            <a href="#">Logo</a>
        </div>

        <nav class="navbar">
            <a href="#">Inicio</a>
            <a href="#">Mision</a>
            <a href="#">Vision</a>
            <a href="#">Productos</a>
            <a href="#">Precio</a>

        </nav>

    </div>

    <header class="content header">
        <h2 class="title">Elecciones Territoriales 2023</h2>
        <p>
            Conozca el calendario electoral para las elecciones territoriales 
            que se realizarán el 29 de octubre del 2023 y la normativa en la 
            inscripción de ciudadanos.
        </p>

        <div class="btn-home">
            <a href="#" class="btn">Regístrate Acá</a>
            <button   class="btn"  (click)="login()">
                Iniciar Sesión
            </button>
            
        </div>
    </header>

    <section class="content sau">

        <h2 class="title">Misión</h2>
        <p>Asesorar, acompañar y supervisar a las diferentes áreas
            de la Registraduría Nacional del Estado Civil en los 
            temas que involucren cooperación y relaciones 
            internacionales a nivel central y desconcentrado, para 
            fortalecer los vínculos con cooperantes, socios 
            estratégicos y beneficiarios con el fin de complementar 
            las acciones para la consecución de los objetivos 
            planteados en el Plan Estratégico, y coordinar la 
            participación de la Registraduría Nacional del 
            Estado Civil en diferentes instancias internacionales 
            de carácter bilateral y multilateral.
        </p>
        <div class="box-container">

            <div class="box">
                <i class="fab fa-angular"></i>
                <h3>TRANSPARENCIA</h3>
                <p>Transparecia y acceso a la información pública</p>
            </div>
            <div class="box">
                <i class="fab fa-apple"></i>
                <h3>PROTECCIÓN DE DATOS</h3>
                <p>Acceso a la información y protección de datos personales</p>
            </div>
            <div class="box">
                <i class="fab fa-android"></i>
                <h3>HISTÓRICO</h3>
                <p>Histórico de elecciones</p>
            </div>

        </div>

    </section>

    <section class="content about">

        <h2 class="title">Visión</h2>
        <p>Para el 2023 la Oficina de Asuntos Internacionales será reconocida 
            a nivel institucional, nacional e internacional como una de las 
            instancias líderes de la Registraduría Nacional del Estado Civil 
            en el fortalecimiento de sus áreas.
        </p>
        
                     

    </section>

    <section class="content price">

        <article class="contain">
            <h2 class="title">CONSULTE AQUÍ SU LUGAR DE VOTACIÓN</h2>
            <p>Aca podra averiguar en que localidad y mesa tienes derecho a sufragar
            </p>

            <button   class="btn"  (click)="login()">
                Iniciar Sesión
            </button>
        </article>

    </section>

    <section class="content contact">

        <h2 class="title">Contacto</h2>
        <p>Línea móvil: 305 7342003 y línea nacional: 
            018000 931026 de lunes a sábado de 8:00 a.m. a 5:00 p.m.
        </p>
        <figure class="map">
            <img src="img/map.png"  height="220px"  width="100%"  alt="mapa">
        </figure>

    </section>

</body>

</html>
