<div class="col-lg-12">
    <nb-card>
        <nb-card-header>
            ACTUALIZAR PARTIDO
        </nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-3">
                    <label>Nombre Partido</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="text" 
                           [disabled]="!modoCreacion" 
                           [(ngModel)]="elpartido.nombre_partido">
                    <p *ngIf="intentoEnvio && elpartido.nombre_partido=='' ">Requerido</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3">
                    <label>Lema del Partido</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="text" 
                           [(ngModel)]="elpartido.lema">
                    <p *ngIf="intentoEnvio && elpartido.lema=='' ">Requerido</p>
                </div>
            </div>
            <br>
            <div class="row">
                    <button 
                            class="btn btn-primary btn-block"  (click)=" editar()">
                            Modificar
                    </button>
            </div>
        </nb-card-body>
    </nb-card>
</div>

