<div class="col-lg-12">
    <nb-card>
        <nb-card-header *ngIf="modoCreacion">
           <h3 class="text-center">RELACIONAR CANDIDATO CON PARTIDO</h3> 
        </nb-card-header>
        <nb-card-header *ngIf="!modoCreacion">
        </nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-3">
                    <label>Apellido</label>
                </div>
                <div class="col-9">
                    <select class="form-select" [(ngModel)]="relacion1">
                        <option value="" selected>Seleccione un candidato</option>
                        <ng-container *ngFor="let candidatosActual of listacandidatos">
                            <option value="{{candidatosActual._id}}">{{candidatosActual.nombre}}{{candidatosActual.apellido}}</option>
                        </ng-container>
                      </select>
                    <p *ngIf="intentoEnvio && relacion1=='' ">Requerido</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3">
                    <label>VOTOS MESA CANDIDATO</label>
                </div>
                <div class="col-9">
                    <select class="form-select" [(ngModel)]="relacion2">
                        <option value="" selected>Seleccione un el Voto</option>
                        <ng-container *ngFor="let votoActual of listavotos">
                            <option value="{{votoActual._id}}">Votos Candidato:{{votoActual.votos_candidato}} Mesa:{{votoActual.mesa.numero_mesa}}  </option>
                        </ng-container>
                    </select>
                    <p *ngIf="intentoEnvio && relacion2=='' ">Requerido</p>
                </div>
            </div>
            <br>
            <div class="row">
                    <button  
                              class="btn btn-primary btn-block"  (click)="relacionar()">
                        Relacionar
                    </button>
                 
            </div>
        </nb-card-body>
    </nb-card>
</div>
